
    #comment-content
{
    width: 50%;
    white-space: pre-line;
}

.comments-view {
    text-align: left;
    width: 100%;
    cursor: pointer;
}

.comments-view td
{
    padding-right: 20px;
}

.bubble-view {
    width: 50%;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

#filter {
    border: 1px solid #8a8c93;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

.filter-input {
    background-color: #f2f2f2;
    border: none;
    border-bottom: 1px solid black;
}