@model MapApp.Models.CommentsModels.Comment

@{
    ViewData["Title"] = "Create Comment";
}

<h2>Create</h2>
<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Comment</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Rating" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Rating" id="barrating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Header" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Header" class="form-control" />
                <span asp-validation-for="Header" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Content" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input asp-for="User" value="@ViewBag.User" type="hidden" />
                <input asp-for="Location" value="@ViewBag.loc_id" type="hidden" />
                <button type="submit"  class="btn btn-primary fa fa-floppy-o" ></button>
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-controller="Locations" asp-action="Details" asp-route-id="@ViewBag.loc_id">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/barrating.js"></script>

}
