@{
    ViewData["Title"] = "DoubleComment";
}

<header>
    <h1 class="text-danger">Double Comment</h1>
    <p class="text-danger">You can not write more than one comment per location.</p>
</header>


