@{
	ViewData["Title"] = "Home Page";
}


<section>
    <div class="panel-body">
        <div id="map" class="class--map"></div>
    </div>
    <br>
    <div class="container--map" id="floating-panel">
        <button id="refresh_locations" class="btn-lg btn-primary fa fa-refresh"></button>
        <button id="clear_locations" class="btn-lg btn-danger fa fa-times"></button>
    </div>
</section>

@section Scripts {
	<script src="~/js/map.js"></script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3iZKrhlbxVPKs2DgI4ADKcGKkEVXxtGw&callback=initMap">
	</script>

	<script src="~/js/index.js"></script>


}
